<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zk.ncp.mapper.NcpVaccinationDetailMapper">
  <resultMap id="BaseResultMap" type="com.zk.ncp.model.NcpVaccinationDetail">
    <id column="detail_id" jdbcType="INTEGER" property="detailId" />
    <result column="record_id" jdbcType="INTEGER" property="recordId" />
    <result column="person_id" jdbcType="INTEGER" property="personId" />
    <result column="vaccination_place" jdbcType="VARCHAR" property="vaccinationPlace" />
    <result column="vaccination_date" jdbcType="DATE" property="vaccinationDate" />
    <result column="vaccination_province" jdbcType="VARCHAR" property="vaccinationProvince" />
    <result column="vaccination_city" jdbcType="DATE" property="vaccinationCity" />
  </resultMap>

  <sql id="Base_Column_List">
    detail_id, record_id, person_id, vaccination_place, vaccination_date, vaccination_province, 
    vaccination_city
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ncp_vaccination_detail
    where detail_id = #{detailId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ncp_vaccination_detail
    where detail_id = #{detailId,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.zk.ncp.model.NcpVaccinationDetail">
    insert into ncp_vaccination_detail (detail_id, record_id, person_id, 
      vaccination_place, vaccination_date, vaccination_province, 
      vaccination_city)
    values (#{detailId,jdbcType=INTEGER}, #{recordId,jdbcType=INTEGER}, #{personId,jdbcType=INTEGER}, 
      #{vaccinationPlace,jdbcType=VARCHAR}, #{vaccinationDate,jdbcType=DATE}, #{vaccinationProvince,jdbcType=VARCHAR}, 
      #{vaccinationCity,jdbcType=DATE})
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.zk.ncp.model.NcpVaccinationDetail">
    update ncp_vaccination_detail
    <set>
      <if test="recordId != null">
        record_id = #{recordId,jdbcType=INTEGER},
      </if>
      <if test="personId != null">
        person_id = #{personId,jdbcType=INTEGER},
      </if>
      <if test="vaccinationPlace != null">
        vaccination_place = #{vaccinationPlace,jdbcType=VARCHAR},
      </if>
      <if test="vaccinationDate != null">
        vaccination_date = #{vaccinationDate,jdbcType=DATE},
      </if>
      <if test="vaccinationProvince != null">
        vaccination_province = #{vaccinationProvince,jdbcType=VARCHAR},
      </if>
      <if test="vaccinationCity != null">
        vaccination_city = #{vaccinationCity,jdbcType=DATE},
      </if>
    </set>
    where detail_id = #{detailId,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.zk.ncp.model.NcpVaccinationDetail">
    update ncp_vaccination_detail
    set record_id = #{recordId,jdbcType=INTEGER},
      person_id = #{personId,jdbcType=INTEGER},
      vaccination_place = #{vaccinationPlace,jdbcType=VARCHAR},
      vaccination_date = #{vaccinationDate,jdbcType=DATE},
      vaccination_province = #{vaccinationProvince,jdbcType=VARCHAR},
      vaccination_city = #{vaccinationCity,jdbcType=DATE}
    where detail_id = #{detailId,jdbcType=INTEGER}
  </update>

  <delete id="deleteNcpVaccinationDetailsByRecordId">
    delete from ncp_vaccination_detail where record_id = #{recordId}
  </delete>

</mapper>