<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zk.ncp.mapper.NcpVaccinationRecordMapper">
  <resultMap id="BaseResultMap" type="com.zk.ncp.model.NcpVaccinationRecord">
    <id column="RECORD_ID" jdbcType="DECIMAL" property="recordId" />
    <result column="PERSON_ID" jdbcType="DECIMAL" property="personId" />
    <result column="VACCINATION_TYPE" jdbcType="VARCHAR" property="vaccinationType" />
    <result column="REQUIRED_TIMES" jdbcType="DECIMAL" property="requiredTimes" />
    <result column="COMPLETION_TIMES" jdbcType="DECIMAL" property="completionTimes" />
    <result column="FINISH_RATE" jdbcType="DECIMAL" property="finishRate" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>

  <resultMap id="NcpVaccinationRecordDTOMap" type="com.zk.ncp.model.vo.NcpVaccinationRecordVO">
    <id column="RECORD_ID" jdbcType="DECIMAL" property="recordId" />
    <result column="PERSON_ID" jdbcType="DECIMAL" property="personId" />
    <result column="VACCINATION_TYPE" jdbcType="VARCHAR" property="vaccinationType" />
    <result column="REQUIRED_TIMES" jdbcType="DECIMAL" property="requiredTimes" />
    <result column="COMPLETION_TIMES" jdbcType="DECIMAL" property="completionTimes" />
    <result column="FINISH_RATE" jdbcType="DECIMAL" property="finishRate" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />

    <collection property="ncpVaccinationDetailList" ofType="com.zk.ncp.model.vo.NcpVaccinationDetailVO"
                select="com.crc.ehs.expert.mapper.NcpVaccinationDetailMapper.selectNcpVaccinationDetailList" column="RECORD_ID">
    </collection>
  </resultMap>

  <insert id="insert" parameterType="com.zk.ncp.model.NcpVaccinationRecord">
    insert into ncp_vaccination_record (record_id, person_id, vaccination_type,
      required_times, completion_times, create_time
      )
    values (NCP_VACCINATION_RECORD_SEQ.NEXTVAL, #{personId,jdbcType=INTEGER}, #{vaccinationType,jdbcType=VARCHAR},
      #{requiredTimes,jdbcType=VARCHAR}, #{completionTimes,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE}
      )
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.zk.ncp.model.NcpVaccinationRecord">
    update ncp_vaccination_record
    set person_id = #{personId,jdbcType=INTEGER},
      vaccination_type = #{vaccinationType,jdbcType=VARCHAR},
      required_times = #{requiredTimes,jdbcType=VARCHAR},
      completion_times = #{completionTimes,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=DATE}
    where record_id = #{recordId,jdbcType=INTEGER}
  </update>

  <delete id="deleteNcpVaccinationRecords">
    delete from NCP_VACCINATION_RECORD where PERSON_ID = #{personId}
  </delete>

  <select id="selectNcpVaccinationRecordIdList" resultType="java.lang.Long">
    select RECORD_ID from NCP_VACCINATION_RECORD
    where PERSON_ID = #{personId}
  </select>

  <select id="selectNcpVaccinationRecordList" resultMap="NcpVaccinationRecordDTOMap">
    select * from NCP_VACCINATION_RECORD
    where PERSON_ID = #{personId}
    order by record_id
  </select>

</mapper>