<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zk.ncp.mapper.NcpVaccinationPersonMapper">
  <resultMap id="BaseResultMap" type="com.zk.ncp.model.NcpVaccinationPerson">
    <id column="PERSON_ID" jdbcType="DECIMAL" property="personId" />
    <result column="USER_CODE" jdbcType="VARCHAR" property="userCode" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="ORG_ID" jdbcType="DECIMAL" property="orgId" />
    <result column="ORG_CODE" jdbcType="VARCHAR" property="orgCode" />
    <result column="ORG_NAME" jdbcType="VARCHAR" property="orgName" />
    <result column="NATIONALITY_OR_REGION" jdbcType="VARCHAR" property="nationalityOrRegion" />
    <result column="WORK_PROVINCE" jdbcType="VARCHAR" property="workProvince" />
    <result column="WORK_CITY" jdbcType="VARCHAR" property="workCity" />
    <result column="TEL" jdbcType="VARCHAR" property="tel" />
    <result column="VACCINATION_STATUS" jdbcType="VARCHAR" property="vaccinationStatus" />
    <result column="REASON" jdbcType="VARCHAR" property="reason" />
    <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_USER" jdbcType="VARCHAR" property="updateUser" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

    <resultMap id="NcpVaccinationPersonDTOMap" type="com.zk.ncp.model.vo.NcpVaccinationPersonVO">
        <id column="PERSON_ID" jdbcType="DECIMAL" property="personId" />
        <result column="USER_CODE" jdbcType="VARCHAR" property="userCode" />
        <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
        <result column="ORG_ID" jdbcType="DECIMAL" property="orgId" />
        <result column="ORG_CODE" jdbcType="VARCHAR" property="orgCode" />
        <result column="ORG_NAME" jdbcType="VARCHAR" property="orgName" />
        <result column="NATIONALITY_OR_REGION" jdbcType="VARCHAR" property="nationalityOrRegion" />
        <result column="WORK_PROVINCE" jdbcType="VARCHAR" property="workProvince" />
        <result column="WORK_PROVINCE_NAME" jdbcType="VARCHAR" property="workProvinceName" />
        <result column="WORK_CITY" jdbcType="VARCHAR" property="workCity" />
        <result column="WORK_CITY_NAME" jdbcType="VARCHAR" property="workCityName" />
        <result column="TEL" jdbcType="VARCHAR" property="tel" />
        <result column="VACCINATION_STATUS" jdbcType="VARCHAR" property="vaccinationStatus" />
        <result column="REASON" jdbcType="VARCHAR" property="reason" />
        <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
        <result column="UPDATE_USER" jdbcType="VARCHAR" property="updateUser" />
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />

        <collection property="ncpVaccinationRecordList" ofType="com.zk.ncp.model.vo.NcpVaccinationRecordVO"
                    select="com.crc.ehs.expert.mapper.NcpVaccinationRecordMapper.selectNcpVaccinationRecordList" column="PERSON_ID">
        </collection>
    </resultMap>

    <resultMap id="NcpVaccinationPersonVOMap" type="com.zk.ncp.model.vo.NcpVaccinationPersonListVO">
        <id column="PERSON_ID" jdbcType="DECIMAL" property="personId" />
        <result column="USER_CODE" jdbcType="VARCHAR" property="userCode" />
        <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
        <result column="ORG_ID" jdbcType="DECIMAL" property="orgId" />
        <result column="ORG_NAME" jdbcType="VARCHAR" property="orgName" />
        <result column="NATIONALITY_OR_REGION" jdbcType="VARCHAR" property="nationalityOrRegion" />
        <result column="WORK_PROVINCE" jdbcType="VARCHAR" property="workProvince" />
        <result column="WORK_PROVINCE_NAME" jdbcType="VARCHAR" property="workProvinceName" />
        <result column="WORK_CITY" jdbcType="VARCHAR" property="workCity" />
        <result column="WORK_CITY_NAME" jdbcType="VARCHAR" property="workCityName" />
        <result column="TEL" jdbcType="VARCHAR" property="tel" />
        <result column="VACCINATION_STATUS" jdbcType="VARCHAR" property="vaccinationStatus" />
        <result column="REASON" jdbcType="VARCHAR" property="reason" />
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />

        <result column="RECORD_ID" jdbcType="DECIMAL" property="recordId" />
        <result column="VACCINATION_TYPE" jdbcType="VARCHAR" property="vaccinationType" />
        <result column="REQUIRED_TIMES" jdbcType="DECIMAL" property="requiredTimes" />
        <result column="COMPLETION_TIMES" jdbcType="DECIMAL" property="completionTimes" />
        <result column="FINISH_RATE" jdbcType="DECIMAL" property="finishRate" />

        <result column="DETAIL_ID" jdbcType="DECIMAL" property="detailId" />
        <result column="VACCINATION_PLACE" jdbcType="VARCHAR" property="vaccinationPlace" />
        <result column="VACCINATION_DATE" jdbcType="TIMESTAMP" property="vaccinationDate" />
        <result column="VACCINATION_PROVINCE" jdbcType="VARCHAR" property="vaccinationProvince" />
        <result column="VACCINATION_PROVINCE_NAME" jdbcType="VARCHAR" property="vaccinationProvinceName" />
        <result column="VACCINATION_CITY" jdbcType="VARCHAR" property="vaccinationCity" />
        <result column="VACCINATION_CITY_NAME" jdbcType="VARCHAR" property="vaccinationCityName" />
    </resultMap>

  <insert id="insert" parameterType="com.zk.ncp.model.NcpVaccinationPerson">
    insert into ncp_vaccination_person (person_id, user_code, user_name,
      org_id, org_name, nationality_or_region,
      work_province, work_city, tel,
      vaccination_status, reason,
      create_user, create_time, update_user,
      update_time)
    values (NCP_VACCINATION_PERSON_SEQ.NEXTVAL, #{userCode,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR},
      #{orgId,jdbcType=INTEGER}, #{orgName,jdbcType=VARCHAR}, #{nationalityOrRegion,jdbcType=VARCHAR},
      #{workProvince,jdbcType=VARCHAR}, #{workCity,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR},
      #{vaccinationStatus,jdbcType=VARCHAR}, #{reason,jdbcType=VARCHAR},
      #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE}, #{updateUser,jdbcType=VARCHAR},
      #{updateTime,jdbcType=DATE})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.zk.ncp.model.NcpVaccinationPerson">
    update ncp_vaccination_person
    set user_code = #{userCode,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      org_id = #{orgId,jdbcType=INTEGER},
      org_name = #{orgName,jdbcType=VARCHAR},
      nationality_or_region = #{nationalityOrRegion,jdbcType=VARCHAR},
      work_province = #{workProvince,jdbcType=VARCHAR},
      work_city = #{workCity,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      vaccination_status = #{vaccinationStatus,jdbcType=VARCHAR},
      reason = #{reason,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=DATE}
    where person_id = #{personId,jdbcType=INTEGER}
  </update>

  <delete id="deleteNcpVaccinationPerson">
    delete from NCP_VACCINATION_PERSON where PERSON_ID = #{personId}
  </delete>

  <select id="selectNcpVaccinationPersonList" resultMap="NcpVaccinationPersonVOMap">
    select t.*
    from (
          select person.PERSON_ID, person.USER_CODE, person.USER_NAME, person.ORG_ID, person.ORG_NAME, person.NATIONALITY_OR_REGION,
                 person.WORK_PROVINCE, person.WORK_CITY,
                 (SELECT NAME FROM T_MD_AREA WHERE AREA_ID = person.WORK_PROVINCE) WORK_PROVINCE_NAME,
                 (SELECT NAME FROM T_MD_AREA WHERE AREA_ID = person.WORK_CITY) WORK_CITY_NAME,
                 person.TEL, person.VACCINATION_STATUS, person.REASON, person.UPDATE_TIME,
                 record.RECORD_ID, record.VACCINATION_TYPE, record.REQUIRED_TIMES, record.COMPLETION_TIMES, record.FINISH_RATE,
                 detail.DETAIL_ID, detail.VACCINATION_PLACE, detail.VACCINATION_DATE, detail.VACCINATION_PROVINCE, detail.VACCINATION_CITY,
                 (SELECT NAME FROM T_MD_AREA WHERE AREA_ID = detail.VACCINATION_PROVINCE) VACCINATION_PROVINCE_NAME,
                 (SELECT NAME FROM T_MD_AREA WHERE AREA_ID = detail.VACCINATION_CITY) VACCINATION_CITY_NAME,
                 ROW_NUMBER() OVER (PARTITION BY person.PERSON_ID ORDER BY detail.VACCINATION_DATE DESC) rowNo
          from NCP_VACCINATION_PERSON person
          left join NCP_VACCINATION_RECORD record on person.PERSON_ID = record.PERSON_ID
          left join NCP_VACCINATION_DETAIL detail on record.RECORD_ID = detail.RECORD_ID
        ) t
    where t.rowNo = 1
    <if test="userName != null and userName != ''">
        and t.USER_NAME like concat(concat('%',#{userName}),'%')
    </if>
    <if test="nationalityOrRegion != null and nationalityOrRegion != ''">
        and t.NATIONALITY_OR_REGION = #{nationalityOrRegion}
    </if>
    <if test="workProvince != null and workProvince != ''">
        and t.WORK_PROVINCE = #{workProvince}
    </if>
    <if test="workCity != null and workCity != ''">
        and t.WORK_CITY = #{workCity}
    </if>
    <if test="vaccinationStatus != null and vaccinationStatus != ''">
        and t.VACCINATION_STATUS = #{vaccinationStatus}
    </if>
    <if test="vaccinationType != null and vaccinationType != ''">
        and t.VACCINATION_TYPE = #{vaccinationType}
    </if>
    <if test="vaccinationPlace != null and vaccinationPlace != ''">
        and t.VACCINATION_PLACE = #{vaccinationPlace}
    </if>
    <if test="vaccinationProvince != null and vaccinationProvince != ''">
        and t.VACCINATION_PROVINCE = #{vaccinationProvince}
    </if>
    <if test="vaccinationCity != null and vaccinationCity != ''">
        and t.VACCINATION_CITY = #{vaccinationCity}
    </if>
    <if test="reason != null and reason != ''">
        and t.REASON = #{reason}
    </if>
    <if test="finishRate != null and finishRate != ''">
      and t.FINISH_RATE = #{finishRate}
    </if>
    <if test="userId != null">
      and t.org_id in (
                        select distinct mo.org_id
                        from t_md_tree_ref tr,t_md_orgnization mo,t_sm_allow_orgnization ao,t_sm_user_allow ua
                        where tr.child_id = mo.org_id
                        and to_char(tr.eff_date,'yyyyMM') = to_char(mo.eff_date,'yyyyMM')
                        <!-- and mo.active_flag = 'Y' --><!-- 无效的组织也显示-->
                        and tr.parent_id = ao.org_id
                        and to_char(tr.eff_date, 'yyyyMM') = to_char(sysdate, 'yyyyMM')
                        and ao.allow_id = ua.allow_id
                        and ua.user_id = #{userId}
                      )
    </if>
    <if test="orgId != null">
      and t.org_id in (
                        select distinct mo.org_id
                        from t_md_tree_ref tr,t_md_orgnization mo
                        where tr.child_id = mo.org_id
                        and to_char(tr.eff_date,'yyyyMM') = to_char(mo.eff_date,'yyyyMM')
                        <!-- and mo.active_flag = 'Y' --><!-- 无效的组织也显示-->
                        and tr.parent_id = #{orgId}
                        and to_char(tr.eff_date, 'yyyyMM') = to_char(sysdate, 'yyyyMM')
                      )
    </if>
    order by t.UPDATE_TIME desc
  </select>

  <select id="selectTheNumberOfVaccinatedPeople" resultType="java.lang.Integer">
      select count(*)
      from (
          select person.PERSON_ID, person.USER_CODE, person.USER_NAME, person.ORG_ID, person.ORG_NAME, person.NATIONALITY_OR_REGION,
              person.WORK_PROVINCE, person.WORK_CITY, person.TEL, person.VACCINATION_STATUS, person.REASON, person.UPDATE_TIME,
              record.RECORD_ID, record.VACCINATION_TYPE, record.REQUIRED_TIMES, record.COMPLETION_TIMES, record.FINISH_RATE,
              detail.DETAIL_ID, detail.VACCINATION_PLACE, detail.VACCINATION_DATE, detail.VACCINATION_PROVINCE, detail.VACCINATION_CITY,
              ROW_NUMBER() OVER (PARTITION BY person.PERSON_ID ORDER BY detail.VACCINATION_DATE DESC) rowNo
          from NCP_VACCINATION_PERSON person
          left join NCP_VACCINATION_RECORD record on person.PERSON_ID = record.PERSON_ID
          left join NCP_VACCINATION_DETAIL detail on record.RECORD_ID = detail.RECORD_ID
      ) t
      where t.rowNo = 1
      and t.VACCINATION_STATUS = '1'
      <if test="userName != null and userName != ''">
          and t.USER_NAME like concat(concat('%',#{userName}),'%')
      </if>
      <if test="nationalityOrRegion != null and nationalityOrRegion != ''">
          and t.NATIONALITY_OR_REGION = #{nationalityOrRegion}
      </if>
      <if test="workProvince != null and workProvince != ''">
          and t.WORK_PROVINCE = #{workProvince}
      </if>
      <if test="workCity != null and workCity != ''">
          and t.WORK_CITY = #{workCity}
      </if>
      <if test="vaccinationType != null and vaccinationType != ''">
          and t.VACCINATION_TYPE = #{vaccinationType}
      </if>
      <if test="vaccinationPlace != null and vaccinationPlace != ''">
          and t.VACCINATION_PLACE = #{vaccinationPlace}
      </if>
      <if test="vaccinationProvince != null and vaccinationProvince != ''">
          and t.VACCINATION_PROVINCE = #{vaccinationProvince}
      </if>
      <if test="vaccinationCity != null and vaccinationCity != ''">
          and t.VACCINATION_CITY = #{vaccinationCity}
      </if>
      <if test="reason != null and reason != ''">
          and t.REASON = #{reason}
      </if>
      <if test="finishRate != null and finishRate != ''">
          and t.FINISH_RATE = #{finishRate}
      </if>
      <if test="userId != null">
          and t.org_id in (
          select distinct mo.org_id
          from t_md_tree_ref tr,t_md_orgnization mo,t_sm_allow_orgnization ao,t_sm_user_allow ua
          where tr.child_id = mo.org_id
          and to_char(tr.eff_date,'yyyyMM') = to_char(mo.eff_date,'yyyyMM')
          <!-- and mo.active_flag = 'Y' --><!-- 无效的组织也显示-->
          and tr.parent_id = ao.org_id
          and to_char(tr.eff_date, 'yyyyMM') = to_char(sysdate, 'yyyyMM')
          and ao.allow_id = ua.allow_id
          and ua.user_id = #{userId}
          )
      </if>
      <if test="orgId != null">
          and t.org_id in (
          select distinct mo.org_id
          from t_md_tree_ref tr,t_md_orgnization mo
          where tr.child_id = mo.org_id
          and to_char(tr.eff_date,'yyyyMM') = to_char(mo.eff_date,'yyyyMM')
          <!-- and mo.active_flag = 'Y' --><!-- 无效的组织也显示-->
          and tr.parent_id = #{orgId}
          and to_char(tr.eff_date, 'yyyyMM') = to_char(sysdate, 'yyyyMM')
          )
      </if>
  </select>

  <select id="selectNcpVaccinationPerson" resultMap="NcpVaccinationPersonDTOMap">
    select person.*,
      (SELECT NAME FROM T_MD_AREA WHERE AREA_ID = person.WORK_PROVINCE) WORK_PROVINCE_NAME,
      (SELECT NAME FROM T_MD_AREA WHERE AREA_ID = person.WORK_CITY) WORK_CITY_NAME
    from NCP_VACCINATION_PERSON person
    <where>
        <if test="userCode != null and userCode != ''">
            and upper(person.user_code) = #{userCode}
        </if>
        <if test="personId != null and personId != ''">
            and person.person_id = #{personId}
        </if>
    </where>
  </select>

</mapper>